<div class="component">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <input type="file" id="toolbar-file-import" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <button class="btn btn-primary btn-sm"><i class="fa fa-upload"></i> Import</button>
                <button class="btn btn-primary btn-sm"><i class="fa fa-download"></i> Export</button>
            </div>
        </div>
    </div>
</div>