<div class="component">
    <h2>Util</h2>
    <button class="btn btn-default btn-sm" data-toggle="collapse" data-target="#jsonViewer">View JSON</button>
    <div id="jsonViewer" class="collapse">
        <br>
        <pre>
            
        </pre>
    </div>
</div>