<div class="component">
    <h2>Chapter</h2>
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-primary btn-sm"><i class="fa fa-floppy-o"></i> Save everything</button>
            <button class="btn btn-primary btn-sm"><i class="fa fa-refresh"></i> Clear everything</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                Name :
                <input type="text" class="form-control" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                Number :
                <input type="number" class="form-control" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                Language (e.g. en,fr) :
                <input type="text" class="form-control" />
            </div>
        </div>
    </div>
    {{chapter-dialogs}}
</div>