@import "global/colors.scss";
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker|Arimo);

body{
    color:$color-text;
    background-color: $color-background;
    font-family: 'Arimo', sans-serif;
    
    h1,.h1{
        font-family: 'Permanent Marker', cursive;
        border-bottom: 3px solid $color-primary-0;
    }
    
    .h1, .h2, .h3, h1, h2, h3{
        margin-top:10px;
    }
    
    
    section {
        color:$color-text-section;
        background-color: $color-background-section;
        display:block;
        padding:7px;
        border-radius: 4px;
        margin-bottom: 20px;
    }
}