@import "global/colors.scss";

body{
    color:$color-text;
    background-color: $color-background;
    
    section {
        color:$color-text-section;
        background-color: $color-background-section;
        display:block;
        padding:7px;
        border-radius: 4px;
        margin-bottom: 20px;
    }
    
    .btn-default{
        background:$color-primary-0;
        color:white;
    }
}