<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/css %>
</head>

<body>
	<header>
	</header>
	<main>
		<div class="main">
			Hello
		</div>
	</main>
	<footer>
	</footer>
	<% include ../partials/js %>
</body>

</html>