<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/css %>
</head>

<body ng-app="WebRpgDialogMaker" ng-controller="AppController as App">
    <header>
        <title>{{App.appName}}</title>
    </header>
    <main class="container" ng-hide>
        <div class="row">
            <div class="col-sm-12">
                <h1>{{App.appName}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#/manage">Manage</a></li>
                    <li><a href="#/edit">Edit</a></li>
                    <li><a href="#/demo">Demo</a></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <div ng-view></div>
            </div>
        </div>
    </main>
    <footer>
    </footer>
    <% include ../partials/js %>
</body>

</html>