<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <input type="file" id="toolbar-file-import" />
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <button class="btn btn-primary btn-sm" ng-click="ManageChapter.importChapter()">
                <i class="fa fa-upload"></i> Import
            </button>
            <button class="btn btn-primary btn-sm" ng-click="ManageChapter.exportChapter()">
                <i class="fa fa-download"></i> Export
            </button>
            <button class="btn btn-primary btn-sm" ng-click="ManageChapter.saveToStorage()"><i class="fa fa-floppy-o"></i> Save
            </button>
            <button class="btn btn-primary btn-sm" ng-click="ManageChapter.resetChapter()">
                <i class="fa fa-refresh"></i> Reset
            </button>
        </div>
        <a class="" href="data:text/json;charset=utf-8,{{ManageChapter.serializedChapterForExport}}" download="{{ManageChapter.exportedFileName}}"
        ng-if="ManageChapter.serializedChapterForExport" ng-click="ManageChapter.serializedChapterForExport = null">Download</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h2>Edit</h2>
        <small>
            This page saves your information automaticly. 
            You just need to <a href="#/manage">export it</a> before closing this window. 
        </small>
    </div>
</div>
<h3>Chapter</h3>
<div class="row">
    <div class="col-sm-3">
        <div class="form-group">
            Name :
            <input type="text" class="form-control" ng-model="ManageChapter.chapter.name">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            Number :
            <input type="number" class="form-control" ng-model="ManageChapter.chapter.number">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            Language (e.g. en,fr) :
            <input type="text" class="form-control" ng-model="ManageChapter.chapter.language">
        </div>
    </div>
</div>
<hr>
<h3>Dialogs</h3>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <button type="button" class="btn btn-default btn-sm" ng-click="ManageChapter.showDialogModal()">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-responsive">
            <tr>
                <th>Key</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="dialog in ManageChapter.chapter.dialogs">
                <td>{{dialog.number}} - {{dialog.name}}</td>
                <td>
                    <button class="btn btn-default btn-sm" ng-click="ManageChapter.showDialogModal(dialog)">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-danger btn-sm" ng-click="ManageChapter.deleteDialog(dialog)">
                        <i class="fa fa-times"></i>
                    </button>
                    <button class="btn btn-default btn-sm" ng-click="ManageChapter.demoDialog(dialog)">
                        <i class="fa fa-laptop"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="dialogModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Dialog</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            Name :
                            <input type="text" class="form-control" ng-model="ManageChapter.dialogModal.dialog.name">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            Number :
                            <input type="number" class="form-control" ng-model="ManageChapter.dialogModal.dialog.number">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <hr>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="ManageChapter.saveDialog(ManageChapter.dialogModal.dialog)">Save changes</button>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-default btn-sm" data-toggle="collapse" data-target="#jsonViewer" ng-click="ManageChapter.updateSerializedChapterForVisualisation()">View JSON</button>
<div id="jsonViewer" class="collapse">
    <br>
    <pre>
        {{ManageChapter.serializedChapterForVisualisation}}
    </pre>
</div>