<div ng-controller="DialogListController as DialogList">
    <h3>Dialogs</h3>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <button type="button" class="btn btn-default btn-sm" ng-click="DialogList.showDialogModal()">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-responsive">
                <tr>
                    <th>Key</th>
                    <th>Actions</th>
                </tr>
                <tr ng-repeat="dialog in DialogList.chapterData.chapter.dialogs">
                    <td>{{dialog.number}} - {{dialog.name}}</td>
                    <td>
                        <button class="btn btn-warning btn-sm" ng-click="DialogList.showDialogModal(dialog)" title="Edit the current dialog">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button class="btn btn-warning btn-sm" ng-click="DialogList.duplicateDialog(dialog)" title="Duplicate the current dialog">
                            <i class="fa fa-copy"></i>
                        </button>
                        <button class="btn btn-default btn-sm" ng-click="DialogList.moveUpDialog(dialog)" title="Move up the current dialog">
                            <i class="fa fa-arrow-up"></i>
                        </button>
                        </button>
                        <button class="btn btn-default btn-sm" ng-click="DialogList.moveDownDialog(dialog)" title="Move down the current dialog">
                            <i class="fa fa-arrow-down"></i>
                        </button>
                        <button class="btn btn-danger btn-sm" ng-click="DialogList.removeDialog(dialog)" title="Remove the current dialog">
                            <i class="fa fa-times"></i>
                        </button>
                        <button class="btn btn-success btn-sm" ng-click="DialogList.demoDialog(dialog)" title="Run the current dialog in the demo viewer">
                            <i class="fa fa-laptop"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <div ng-include="'public/modules/dialogs/dialogModal.html'"></div>
</div>